<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2 text-center">
                <br />
                <img src="{{ 'assets/images/icons/svg/compas.svg'|theme }}" alt="">
            </div>
            <div class="col-xs-12 col-sm-10">
                <h1 class="hidden-xs hidden-sm">Aucun résultat...</h1>
                <h1 class="hidden-xs hidden-md hidden-lg">Aucun résultat...</h1>
                <h3 class="hidden-sm hidden-md hidden-lg">Aucun résultat...</h3>
                <p>Nous n'avons trouvé aucun contenu en rapport avec votre <em>recherche</em>.</p>
                <p class="pull-right"><small><a href="">Retour</a></small></p>
            </div>
        </div>
    </div>
</div>