<script type='text/javascript' src='https://10ay.online.tableau.com/javascripts/api/viz_v1.js'></script>

<div class='tableauPlaceholder'>
    <object class='tableauViz' style='display:none; width: 100%;'>
        <param name='host_url' value='https%3A%2F%2F10ay.online.tableau.com%2F'>
        <param name='site_root' value='/t/<?= $siteRoot ?>'>
        <param name='name' value='<?= $name ?>'>
        <param name='tabs' value='yes'>
        <param name='toolbar' value='yes'>
        <param name='showVizHome' value='n'>
        <param name='bootstrapWhenNotified' value='y'>
        <param name='filter' value='%3AopenAuthoringInTopWindow=true'>
        <param name='filter' value='%3AbrowserBackButtonUndo=true'>
        <param name='filter' value='%3AreloadOnCustomViewSave=true'>
        <param name='filter' value='%3AshowShareOptions=true'>
    </object>
</div>